#backgroundPane {
    //-fx-background-color: whitesmoke;
    //-fx-background-color: linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,0.5) 70px);
    -fx-background-image: url("../images/back.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
}

#menuPane {
    -fx-background-color: black;
}

#taskPane {
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 0.95 );
}

.menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.menu-button:hover{
    -fx-background-color: grey;
}

#taskAddButton, #refreshButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#taskAddButton:hover, #refreshButton:hover {
    -fx-background-color: grey;
}

.table-view .column-header{
    -fx-font-size: 16;
    -fx-font-family: "SansSerif";
}


