.menuPane {
    -fx-background-color: black;     
}

.addButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.addButton:hover {
    -fx-background-color: grey;
}

.rightPane {    
    -fx-background-image: url("../images/back.jpg");
}

.infoPane {
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0.95 );
}