
.backgroundPane {    
    //-fx-background-color: /*#AFBCAA*/ whitesmoke;
    //-fx-background-color: linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,0.5) 70px);
    -fx-background-image: url("../images/back.jpg");
    -fx-background-repeat: repeat;   
    //-fx-background-size: 900 900;
    -fx-background-position: top left;
    //-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.menuPane {
    -fx-background-color: black/*#323232*/;
    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 4 ); 
}

.tablePane {
    //-fx-background-color: white;
    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.45) , 3.5, 0.0 , 0 , 0.95 );
    -fx-background-radius: 1.5;
    //-fx-border-style: none;
}

.taskPane {    
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 0.95 );
}

.descriptionPane {
    -fx-background-color: white;
    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 6.5, 0.0 , 0 , 0.95 );
    //-fx-background-radius: 1;
}

.descriptionArea {
    //-fx-background-color: transparent;
    -fx-background-radius: 0;
}

/*.text-area .scroll-pane {
    -fx-background-color: lightgoldenrodyellow;
    -fx-background-radius: 3;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;   
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;    
}

.text-area {
    -fx-background-radius: 3;
    //-fx-border-color: gray;
}*/

.paramsPane {
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 0.95 );
    -fx-background-radius: 1;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    //-fx-font-weight: bold;
    -fx-font-size: 16;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.menu-button:hover{
    -fx-background-color: /*#824a90*/grey;    
}

.addButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    //-fx-font-weight: bold;
    -fx-font-size: 16;
}

.addButton:hover {
    -fx-background-color: /*#824a90*/grey;    
}

.table-view .column-header .label {
    -fx-font-size: 16;
    //-fx-background-color: transparent;

}



